<div class="w-full h-full">
    <div class="ml-5 mt-5">
        <span class="text-xl font-semibold">Complementos Gratuitos, acompanha em todos os pedidos.</span>
        <div class="flex mr-3 gap-4 mt-2">
            <div class="w-full h-28 border-2 rounded-md mb-5 flex justify-between cursor-pointer">
                <div class="flex flex-col ml-2 mt-3">
                    <span class="font-medium">Copo 330ml</span>
                    <span class="font-thin text-sm">3 Acompanhamentos</span>
                    <span class="font-thin text-sm">Incluso leite condesado e leite em pó</span>
                    <span class="font-semibold">R$ 15,00</span>
                </div>
                <div class="flex items-center mr-2">
                    <img class="w-24 h-24 rounded-md" src="https://client-assets.anota.ai/produtos/654ab03cc88d1800120ac54e/-1717799809140blob.webp" alt="">
                </div>
            </div>
            <!-- Adicione uma div para o segundo item -->
            <div class="w-full h-28 border-2 rounded-md mb-5 flex justify-between cursor-pointer">
                <div class="flex flex-col ml-2 mt-3">
                    <span class="font-medium">Copo 330ml</span>
                    <span class="font-thin text-sm">3 Acompanhamentos</span>
                    <span class="font-thin text-sm">Incluso leite condesado e leite em pó</span>
                    <span class="font-semibold">R$ 15,00</span>
                </div>
                <div class="flex items-center mr-2">
                    <img class="w-24 h-24 rounded-md" src="https://client-assets.anota.ai/produtos/654ab03cc88d1800120ac54e/-1717799809140blob.webp" alt="">
                </div>
            </div>
        </div> 
    </div>
</div>
