<div  *ngIf="isModalConfirmOpen === true; else modalClosed" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50 z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h2 class="text-xl font-semibold mb-4">Confirmação</h2>
      <p class="mb-6">Tem certeza de que deseja deletar esse produto?</p>
      <div class="flex justify-end space-x-4">
        <button  class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600" (click)="setCloseModalConfirm()">
          Cancelar
        </button>
        <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" (click)="deleteProduct()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
  <ng-template #modalClosed></ng-template>
  