<div class="w-full h-20 bg-lightGray flex border-b-2">
  <div class="w-full flex ml-5 gap-9 items-center">
    <input
      class="w-10/12 h-11 border-2 rounded-lg px-4"
      type="text"
      placeholder="O que você quer comer hoje?"
    />
    <span class="cursor-pointer flex items-center">
      <fa-icon [icon]="faHouse" class="mr-3"></fa-icon>
      Inicio
    </span>
    <span class="cursor-pointer flex items-center">
      <fa-icon [icon]="faCartShopping" class="mr-3"></fa-icon>
      Carrinho
    </span>
  </div>
</div>
