<div class="h-screen">
    <div class="w-85 h-full bg-lightGray border-r-2 flex flex-col justify-between">
      <div>
        <div class="flex justify-center my-2 p-2 border-b-2">
          <img class="w-20 h-20 bg-cover rounded-full" 
          src="https://img.freepik.com/vetores-premium/sushi-logo-comida-japonesa-sushi-frutos-do-mar-vetor-cozinha-japonesa-icone-de-modelo-de-design-de-produto_638875-5288.jpg" 
          alt="">
        </div>
        <div class="ml-5 mt-6 text-lg font-semibold space-y-2">
          <div class="cursor-pointer" (click)="selectOption('appearance')">
            <fa-icon [icon]="faPalette" class="mr-1"></fa-icon>
            Aparência
        </div>
          <div class="cursor-pointer" (click)="selectOption('products')">
            <fa-icon [icon]="faBox" class="mr-1"></fa-icon>
            Produtos
        </div>
        <div class="cursor-pointer" (click)="selectOption('sales')">
            <fa-icon [icon]="faDollarSign" class="mr-1"></fa-icon>
            Vendas 
        </div>
        <div class="cursor-pointer" (click)="selectOption('users')">
          <fa-icon [icon]="faUser" class="mr-1"></fa-icon>
          Usuários
      </div>
        </div>
      </div>
      
      <div class="flex border-t-2 p-4">
        <img class="w-28 h-16 rounded-full" src="https://img.elo7.com.br/product/600x380/2176843/adesivo-simpsons-bart-estilingue-el-barto.jpg" alt="">
        <div class="w-85 flex justify-between items-center">
            <div class="flex flex-col">
                <span>chester benn</span>
                <span>chester&#64;benn</span>
            </div>
            <div class="cursor-pointer" (click)="logout()">
                <fa-icon [icon]="faRightFromBracket"></fa-icon>
            </div>
        </div>
      </div>
    </div>
  </div>
  