<div class="container">
  <div class="container-content">
    <div class="content">
      <form *ngIf="isLoginForm">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" placeholder="E-mail" name="email" [(ngModel)]="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" placeholder="Senha" name="password" [(ngModel)]="password" class="form-control" />
        </div>
        <button type="submit" class="btn-login" (click)="login()">Entrar</button>
        <span>Não tem conta? 
          <span class="button-register" (click)="changeForm()">Registre-se</span>
        </span>
      </form>

      <form *ngIf="!isLoginForm">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" id="name" placeholder="Nome" name="name" [(ngModel)]="name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" placeholder="E-mail" name="password" [(ngModel)]="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" placeholder="Senha" name="password" [(ngModel)]="password" class="form-control" />
        </div>
        <button type="submit" class="btn-login" (click)="register()">Registrar</button>
      </form>
    </div>
  </div>
</div>
