<body class="h-full w-full bg-gray-100 flex items-center justify-center">
  <div class="w-full h-full bg-white overflow-hidden">
    <header class="bg-gradient-to-r from-purple-500 to-indigo-500 p-[21px]">
      <div class="text-center">
        <h1 class="text-4xl font-semibold text-white py-3">Configuração de Aparência</h1>
      </div>
    </header>

    <main class="p-10 h-full">
      <form class="space-y-8 h-full" [formGroup]="customFieldForm">
        <div>
          <label for="store-name" class="block text-lg font-medium text-gray-600">Nome da Loja</label>
          <input
            type="text"
            id="store-name"
            class="w-full mt-2 p-4 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500"
            placeholder="Digite o nome da loja"
            formControlName="name"
          />
        </div>
        <div>
          <label for="primary-color" class="block text-lg font-medium text-gray-600">Cor Primária</label>
          <input
            type="color"
            id="primary-color"
            class="w-16 h-12 mt-2 border border-gray-300 rounded-lg cursor-pointer"
            formControlName="primary_color"
          />
        </div>
        <div>
          <label for="secondary-color" class="block text-lg font-medium text-gray-600">Cor Secundária</label>
          <input
            type="color"
            id="secondary-color"
            class="w-16 h-12 mt-2 border border-gray-300 rounded-lg cursor-pointer"
            formControlName="secondary_color"
          />
        </div>
        <div>
          <label for="font-family" class="block text-lg font-medium text-gray-600">Fonte</label>
          <select
            id="font-family"
            class="w-full mt-2 p-4 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500"
            formControlName="font_name"
          >
          <option value="arial">Arial</option>
          <option value="verdana">Verdana</option>
          <option value="times new roman">Times New Roman</option>
          <option value="courier new">Courier New</option>
          <option value="georgia">Georgia</option>
          <option value="tahoma">Tahoma</option>
          <option value="impact">Impact</option>
          <option value="comic sans ms">Comic Sans MS</option>
          <option value="lucida console">Lucida Console</option>
          <option value="trebuchet ms">Trebuchet MS</option>
          <option value="palatino">Palatino</option>
          <option value="arial black">Arial Black</option>
          <option value="book antiqua">Book Antiqua</option>
          <option value="cabin">Cabin</option>
          <option value="open sans">Open Sans</option>
          <option value="roboto">Roboto</option>
          <option value="montserrat">Montserrat</option>
          <option value="lora">Lora</option>
          <option value="raleway">Raleway</option>          
          </select>
        </div>
        <div>
          <label for="logo-upload" class="block text-lg font-medium text-gray-600">Logo da Loja</label>
          <div class="mt-2">
            <label for="logo-upload" class="w-full flex items-center justify-center px-4 py-2 bg-indigo-500 text-white rounded-lg shadow-lg cursor-pointer hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500">
              <span class="mr-3">Escolher Logo</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 10l5 5 5-5H7z"/>
              </svg>
            </label>
            <input
              type="file"
              id="logo-upload"
              class="hidden"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
          </div>
        </div>
        <div class="text-right">
          <button
            class="bg-indigo-500 text-white py-3 px-6 rounded-lg shadow-lg hover:bg-indigo-600 transition duration-300"
            (click)="isEditMode ? updateStore() : create()"
          >
            {{ isEditMode ? 'Editar Configurações' : 'Salvar Configurações' }}
          </button>
        </div>
      </form>
    </main>
  </div>
</body>
