<div class="w-full px-8">
  <div class="w-full flex justify-between mt-6">
    <h2 class="text-3xl">Usuários</h2>
    <div class="space-x-10 text-2xl flex">
      <div
        class="w-10 text-white bg-blue-500 text-center rounded-md cursor-pointer"
        (click)="isModalCreateUserOpen = true"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </div>

    </div>
  </div>
  <div class="mt-6">
    <table class="w-full table-auto border-collapse bg-white shadow-lg rounded-lg overflow-hidden">
      <thead>
        <tr class="bg-gradient-to-r from-purple-600 to-blue-500 text-white">
          <th class="p-4 text-center">
            <input type="checkbox" class="h-4 w-4 rounded border-gray-300" />
          </th>
          <th class="p-4 text-left">Avatar</th>
          <th class="p-4 text-left">Nome</th>
          <th class="p-4 text-left">Email</th>
          <th class="p-4 text-left">Função</th>
          <th class="p-4 text-left">Status</th>
          <th class="p-4 text-center">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of users"
          class="hover:bg-gray-200 transition duration-300 odd:bg-gray-100"
        >
          <td class="p-4 text-center">
            <input type="checkbox" class="h-4 w-4 rounded border-gray-300" />
          </td>
          <td class="p-4">
            <img
              [src]="'https://via.placeholder.com/50'"
              class="w-14 h-14 rounded-full object-cover"
              alt="Avatar"
            />
          </td>
          <td class="p-4 font-medium text-gray-800">{{ user.name }}</td>
          <td class="p-4 text-gray-600">{{ user.email }}</td>
          <td class="p-4 text-gray-600">{{ user.role }}</td>
          <td class="p-4">
            <span
              class="px-3 py-1 text-sm font-semibold rounded-full"
              [ngClass]="{
                'bg-green-100 text-green-700': user.status === 'ativo',
                'bg-red-100 text-red-700': user.status === 'desativado'
              }"
            >
              {{ user.status }}
            </span>
          </td>
          <td class="p-4 text-center align-middle">
            <div
              class="flex justify-center items-center space-x-2"
            >
              <div
                class="w-10 h-10 flex justify-center items-center bg-blue-500 text-white rounded-full shadow-md hover:bg-blue-600 transition duration-300 cursor-pointer"
                (click)="setOpenModal(user)"
              >
                <fa-icon [icon]="faPencil"></fa-icon>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
</div>

<app-modal [isModalOpen]="isModalOpen" [setCloseModal]="setCloseModal">
  <form [formGroup]="userForm">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl mx-auto">
     
      <div class="grid grid-cols-2 gap-6">
        <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">Nome</label>
          <input
            type="text"
            class="border border-gray-300 rounded-lg p-3 w-full"
            placeholder="Nome"
            formControlName="name"
          />
        </div>

        <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">E-mail</label>
          <input
            type="text"
            class="border border-gray-300 rounded-lg p-3 w-full"
            placeholder="E-mail"
            formControlName="email"
          />
        </div>

        <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">Status</label>
          <select class="border border-gray-300 rounded-lg p-3 w-full" formControlName="status">
            <option value="">Selecione</option>
            <option value="ativo">ativo</option>
            <option value="desativado">desativado</option>
          </select>
        </div>


        <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">Função</label>
          <select class="border border-gray-300 rounded-lg p-3 w-full" formControlName="role">
            <option value="">Selecione</option>
            <option value="usuario">usuario</option>
            <option value="administrador">administrador</option>
          </select>
        </div>


       
        <!-- <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">Imagem</label>
          <div class="relative">
            <input type="file" id="file-upload" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" (change)="onFileSelected($event)" />
            <label
              for="file-upload"
              class="flex items-center justify-center border border-gray-300 rounded-lg p-3 w-full cursor-pointer text-gray-500"
            >
              Selecione um arquivo
            </label>
          </div>
        </div> -->
      </div>
      
      <div class="flex justify-end space-x-4 mt-6">
        <button class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600" (click)="setCloseModal()">Cancelar</button>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" (click)="update()">
          <span>Atualizar</span>
        </button>
      </div>
    </div>
  </form>
</app-modal>

<app-modal [isModalCreateUserOpen]="isModalCreateUserOpen">
  <form [formGroup]="userForm">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl mx-auto">
     
      <div class="grid grid-cols-2 gap-6">
        <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">Nome</label>
          <input
            type="text"
            class="border border-gray-300 rounded-lg p-3 w-full"
            placeholder="Nome"
            formControlName="name"
          />
        </div>

        <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">E-mail</label>
          <input
            type="text"
            class="border border-gray-300 rounded-lg p-3 w-full"
            placeholder="E-mail"
            formControlName="email"
          />
        </div>

        <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">Senha</label>
          <input
            type="text"
            class="border border-gray-300 rounded-lg p-3 w-full"
            placeholder="Senha"
            formControlName="password"
          />
        </div>

        <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">Função</label>
          <select class="border border-gray-300 rounded-lg p-3 w-full">
            <option value="">Selecione</option>
            <option value="normal">usuario</option>
            <option value="editavel">administrador</option>
          </select>
        </div>

       
        <!-- <div class="col-span-2 md:col-span-1">
          <label class="block text-sm font-medium text-gray-600 mb-2">Imagem</label>
          <div class="relative">
            <input type="file" id="file-upload" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" (change)="onFileSelected($event)" />
            <label
              for="file-upload"
              class="flex items-center justify-center border border-gray-300 rounded-lg p-3 w-full cursor-pointer text-gray-500"
            >
              Selecione um arquivo
            </label>
          </div>
        </div> -->
      </div>
      
      <div class="flex justify-end space-x-4 mt-6">
        <button class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600" (click)="setCloseModalCreateUser()">Cancelar</button>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" (click)="register()">
          <span>Cadastrar</span>
        </button>
      </div>
    </div>
  </form>
</app-modal>
