<div class="h-screen">
  <div class="w-85 h-full bg-primary">
    <div class="flex justify-center my-5">
        <img class="w-20 h-20 bg-cover rounded-full" 
        [src]="logoUrl"
        alt="">
    </div>
    <div class="w-full h-11 flex justify-between cursor-pointer">
      <h1 class="text-3xl ml-4">{{storeName}}</h1>
      <span class="mr-4 text-2xl">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </span>
    </div>
    <div class="ml-4">
      <span>$ Sem pedido minimo</span>
    </div>
    <div class="w-85 h-full fixed" >
      <div class="w-full h-12 mt-3 flex items-center font-bold cursor-pointer" *ngFor="let category of categories">
        <span class="ml-4">{{category.name}}</span>
      </div>
    </div>
  </div>
</div>

