<header class="w-full h-20 bg-lightGray items-center">
  <div class="w-full h-full flex justify-between items-center px-8">
    <section>
      <img src="logo.png" alt="" class="w-24" />
    </section>
    <section class="w-full max-w-xl">
      <input
        type="text"
        name=""
        id=""
        placeholder="Busque por uma loja"
        class="h-11 w-full border-2 rounded-lg px-4"
      />
    </section>
    <section>Icones</section>
  </div>
</header>

<section class="w-full h-screen mt-9">
    <div class="w-4/5 mx-auto">
      <div class="w-full grid grid-cols-4 gap-6">
        <div *ngFor="let store of stores" (click)="navigateToStoreSelected(store)" class="w-full flex items-center overflow-hidden hover:scale-90 transition-transform duration-300 hover:bg-white hover:shadow-lg hover:border hover:border-gray-300 rounded-lg">
          <section>
            <img [src]="store.imageUrl" alt="" class="w-32 h-32">
          </section>
          <section class="flex flex-col">
            <label class="font-semibold">{{store.name}}</label>
          </section>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
