@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}


.scrollbar-hidden {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; 
}



